/* Loader */
#toggle {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#Secure {
  height: 90px;
  width: 90px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  transition: background 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader.light {
  background: rgba(255, 255, 255, 0.5);
}

.indicator {
  border-radius: 50%;
  height: 102px;
  left: 50%;
  margin: -36px 0 0 -36px;
  position: absolute;
  top: 50%;
  width: 102px;
}

.indicator:before {
  animation: cw 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  display: block;
  width: 100%;
  height: 100%;
  border: solid 5px transparent;
  border-top-color: #2546BE;
  position: absolute;
  left: -2px;
  top: -2px;
  content: "";
  border-radius: 50%;
  transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.indicator svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -7px;
}

.indicator svg * {
  fill: #34A853;
  transition: all 512ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 