 
/* specifique classe */
.body{
    font-family: 'Nunito Sans', sans-serif;
}

/* font-img-header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .path {
    stroke-dasharray: 10;
    animation: dash 55s linear infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 800;
    }
  }
  
  
  .flying {
    transform: translate(35%, 8%);
    animation: fly 4s ease-in-out infinite;
  }
  
  @keyframes fly {
    0% {
      transform: translate(35%, 10%) ;
    }
    50% {
      transform: translate(35%, 8%);
    }
    100% {
      transform: translate(35%, 10%);
    }
  }
  
  /* .section-home {
    height: 100vh;
    width: 100vh;
  } */
  