/* specifique classe */
.body {
  font-family: "Nunito Sans", sans-serif;
}

/* font-img-header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.path {
  stroke-dasharray: 10;
  animation: dash 55s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 800;
  }
}

.flying {
  transform: translate(35%, 8%);
  animation: fly 4s ease-in-out infinite;
}

@keyframes fly {
  0% {
    transform: translate(35%, 10%);
  }
  50% {
    transform: translate(35%, 8%);
  }
  100% {
    transform: translate(35%, 10%);
  }
}
@media (max-width: 1400px) {
}

.fond_header {
  position: relative;
  top: -30rem;
  z-index: 1;
}

/* Login */
input:not(:placeholder-shown) {
  border-color: red;
}

/* Afficher les bordures rouges lorsqu'elles sont remplies, mais non valides */
input:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);;
}
/* Afficher les bordures vertes lorsqu'elles sont valides */
input:valid {
  border-color: green;
}

